In [ ]:
import random

In [ ]:
import numpy as np
df=np.zeros(15)

In [ ]:
df=np.zeros(15)
for i in range(15):
  x = random.uniform(-3, 3)
  df[i]=x

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame(df)
df1.to_csv('3045reflectivity.csv',index=False)

In [ ]:
import numpy as np
_sum = 3000
n = 20
rnd_array = np.random.multinomial(_sum, np.ones(n)/n, size=1)[0]
print (rnd_array)

[164 166 148 149 152 153 159 152 134 127 136 151 163 136 150 158 139 154
 143 166]

In [ ]:
rnd_array=pd.DataFrame(rnd_array)

In [ ]:
rnd_array.to_csv('rnd_array.csv',index=False)